*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-direction: column;
}
h1{
    color: white;
    font-size: 70px;
    background-color: burlywood;
    padding: 30px 40px;
    border-radius: 10px;
}
button{
    font-size: 20px;
    background-color: cadetblue;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;

}